1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9bfc6b7a-963f-46fa-8125-6e29f4cc2f79" doc:description="http configuration for http listener" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="66e70970-a8fc-470f-8cba-358ae6379f18" >
		<http:listener doc:name="Listener" doc:id="6efea17d-40d3-449b-89fa-425ca5bb3e71" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
			<non-repeatable-stream />
			<http:response >
				<http:body ><![CDATA[#["Hello world"]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9d51e98c-83d6-4ed6-a21e-e16a8e30d0c4" message='"START log"'/>
	</flow>
</mule>
